<footer class="text-center">
  <div class="container">
    <div class="row">
      <h2 class="section-heading">Contact Us</h2>
      <p>
        Send us an email at <a href="mailto:hello@fga.io" class="email-address">hello@fga.io</a>
      </p>
      <ul class="social-info list-inline">
        <li><a href="https://twitter.com/wearefgacademy" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
        <li><a href="https://github.com/floodgateacademy/" target="_blank"><i class="fa fa-github fa-lg"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
