<!DOCTYPE html>
<html>

  {% include head.html %}
  <body>
    {{ content }}

    {% include footer.html %}

    {% include analytics.html %}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
  </body>

</html>
